@model List<School>

	<a asp-controller="School" asp-action="Create" class="btn btn-primary">Create</a>
@foreach (var school in Model)
{
	
<div class="text-center">
	<p>@school.Class</p>
	<p>@school.Student</p>
	<p>@school.Teacher</p>
	<p>@school.Director</p>
</div>
<div class="d-flex justify-content-center">
	<form asp-action="Delete" asp-route-id="@school.Id">
		<input type="submit" class="btn btn-outline-danger" value="Delete"/>
	</form>
	<a asp-action="Update" class="btn btn-outline-warning" asp-route-Id="@school.Id">Update</a>
</div>
<hr />
<hr />
}
